PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
JWT_SECRET=cambia_esto_en_produccion
JWT_EXPIRES_IN=8h
DB_HOST=localhost
DB_PORT=5432
DB_USER=sissep_user
DB_PASS=sissep_pass
DB_NAME=sissep_db
UPLOAD_BASE=uploads
MAX_FILE_MB=20
